# Windows ja Office
Thumbs.db
desktop.ini
~$*
*.tmp

# OneDrive satunnaiset lukitusj?ljet
*.lnk
# IDE/editori
.vscode/
.ipynb_checkpoints/
.Rhistory
.Rproj.user/
.DS_Store

# Build ja väliaikaiset
*_cache/
.quarto/
_site/
*.log
.vscode/
.ipynb_checkpoints/
.Rhistory
.Rproj.user/
.DS_Store
*_cache/
.quarto/
_site/
*.log
!.github/
!.github/workflows/

!.github/
!.github/workflows/

efi_*.ps1

!.github/
!.github/workflows/
node_modules/
.gitattributes.bak.*
!.markdownlint*